body{
    background-color: blueviolet;
}

.heading{
    background-color: rgb(164, 202, 183);
    display: inline-flexbox;
    margin: 2%;
    padding: 2%;
    line-height: 5%;
    border-radius: 15px;
}

p{
    color: blue;
    text-align: center;
    font-family: 'Lemon', serif;
    font-size: 20pt;
    /* font-family: 'Long Cang', cursive;
    font-family: 'Salsa', cursive; */
    
}
p:hover{
    color: blueviolet;
}

hr{
    width: 30%;
    height: 1px;
    background-color: white;
    border: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    background-color: #5e84ba;
    font-family: 'Salsa', cursive;
    height: 40px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
    margin: 15px;
    border-radius: 7px;
    display: inline-block;
}

div.btn:hover{
    background-color: rgb(47, 83, 83);
    
}

.btn-back{
    padding: 5px;
    margin: 30px;
    margin-left: 50px;
}


  
div.btn .tooltiptext {
    visibility: hidden;
    background-color: whitesmoke;
    color: black;
    opacity: 70%;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

div.btn:hover .tooltiptext {
    visibility: visible;
}
